$color-font-black: #393939;
$color-anchor-hover: #d3d3d3;
$color-black: #000000;
$color-white: #ffffff;

$color-danger-red: red;
$color-success-green: green;

$color-menu-active-state: #f8f8f8;
$color-menu-border-active-state: #e3ebee;
$color-sub-menu-border: #c6c7c8;
$color-box-shadow: #888888;