//shared
//-----------------------------
@mixin icon-helper(){
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

//icons
//-----------------------------
//.i--icon-user {
//  background-image: url('../images/icons/icon-user.png');
//  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2021%2021%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20d%3D%22M6.820973%208.643955c.0043875%200%20.0079133-.0003133.0122226-.0003133.1444783%201.9525732%201.6828124%203.9067134%203.5615794%203.9067134%201.8783752%200%203.416631-1.9540613%203.561501-3.906713.003996%200%20.0079134.0003136.0122227.0003136.7512247%200%20.9692742-1.0927546.2846474-1.4168123.141266-.4389196.218755-.908004.218755-1.3973815%200-2.3882804-1.825097-4.3247134-4.0771255-4.3247134-2.252029%200-4.077204%201.936433-4.077204%204.3247135%200%20.4893773.077802.958462.218676%201.3973814-.6847833.323666-.466577%201.4168122.284726%201.4168122zm12.4999628%208.794297c-1.6647134-1.616763-6.387604-3.3338145-6.442763-3.3042763-1.3820246.740804-3.582499.7419794-4.967501-.0003134-.055472-.0292248-4.7391092%201.6506886-6.4420577%203.3045897-.073884.0713773-.1153313.1693938-.1153313.272033v1.3581278c0%20.2089608.170099.379765.379765.379765H19.056425c.209666%200%20.379765-.1708042.379765-.379765V17.710285c0-.1027176-.041761-.2010475-.1152538-.272033z%22/%3E%3Cpath%20d%3D%22M1.0003918%201.0003134h18.8041237V19.804437H1.0003918z%22/%3E%3C/g%3E%3C/svg%3E');
//  @include icon-helper;
//}