@import "../base/colors";
@import "../abstracts/mixins";

.standard-button {
  border: 2px solid $color-black;
  background-color: $color-black;
  color: $color-white;
  margin: 10px 0;
  padding: 10px 30px;
  cursor: pointer;
  @include transition-raw("background-color 300ms ease-out 0s,color 300ms ease-out 0s,border-color 300ms ease-out 0s");
  &:hover {
    color: $color-white;
    background-color: lighten($color-black, 15%);
  }
  &.danger {
    background-color: $color-danger-red;
    border-color: $color-danger-red;
    &:hover{
      background-color: lighten($color-danger-red, 15%);
    }
  }
  &.submit {
    background-color: $color-success-green;
    border-color: $color-success-green;
    &:hover{
      background-color: lighten($color-success-green, 15%);
    }
  }
}