@import "../base/colors";
@import "../abstract/mixins";

.standard-button {
  border: 2px solid $color-black;
  background-color: $color-black;
  color: $color-white;
  display: block;
  margin: 10px auto;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
  @include transition-raw("background-color 300ms ease-out 0s,color 300ms ease-out 0s");
  &:hover {
    color: $color-black;
    background-color: $color-white;
  }
}