@import "../base/colors";
@import "../base/fonts";

.standard-form {
  label, input, textarea {
    display: block;
  }

  input {
    width: calc(100% - 12px);
    margin-bottom: 5px;
    border: 1px solid $color-font-black;
    padding: 5px;
    border-radius: 5px;
  }

}

table {
  margin-bottom: 25px;
  border-collapse: collapse;
}

thead td {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid $color-font-black;
  border-top: 1px solid $color-font-black;
}

tbody {
  td {
    padding: 5px 0;
  }
  tr:nth-of-type(2n){
    td {
      background-color: $color-menu-active-state;
    }
  }
}

.error {
  position: relative;
  input {
    border-color: red;
  }
  &:after {
    content: "\f06a";
    font-family: $global-font-font-awesome;
    top: 12px;
    right: -8px;
    height: 18px;
    width: 14px;
    position: absolute;
    color: red;
    background-color: white;
  }
}

@mixin standard-message {
  margin-bottom: 0;
  text-align: center;
}

@mixin standard-error-message {
  color: red;
}

@mixin standard-success-message {
  color: green;
}

@mixin standard-input-message {
  font-size: 0.75rem;
  @include standard-message;
}

@mixin standard-form-message {
  margin-top: 10px;
  font-size: 0.9rem;
  @include standard-message;
}

.input-error-message {
  @include standard-input-message;
  @include standard-error-message;
}

.form-error-message {
  @include standard-form-message;
  @include standard-error-message;
}

.form-success-message {
  @include standard-form-message;
  @include standard-success-message;
}